
.box{
    width:700px;
    height:400px;
    padding:20px;
    position:fixed;
    box-shadow: 0 0 15px #666;
    background-color: #fff;
    border-radius: 15px;
    border: solid 1px #666;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -350px;
    z-index:10000;
}
.Video{
    margin:0 auto;
}
.contor1{
    width:698px;
    height:40px;
    margin-top: 5px;
    border:1px solid #000;
    border-radius: 10px;
    background:#101010;
}
.play{
    width:30px;
    height:30px;
    margin-left:20px;
    float: left;
    border-radius: 4px;
}
.play:before{
    content: "";
    display: block;
    margin-top: 10px;
    border-left:20px solid #F3F3F3;
    border-right: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 4px;
}
.pause{
    width: 30px;
    height:30px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}
.pause:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 20px;
    margin-top: 5px;
    background: #F3F3F3;
}
.pause:after{
    content: "";
    display:inline-block;
    width: 5px;
    height: 20px;
    margin-top: 5px;
    background: #F3F3F3;
    margin-left: 5px;
}
.progress{
    float: left;
    margin-left:2px;
    width: 300px;
    height: 10px;
    margin-top: 15px;
    border: 1px solid #575757;
    border-radius: 5px;
    position: relative;
}
.progress-bar{
    width:0;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #D2D2D2;
    cursor: pointer;
    z-index: 0;
}
.progress-contor1{
    width: 20px;
    height: 14px;
    background: #F7F7F7;
    border-radius: 7px;
    box-shadow: 0 0 3px #000;
    position: absolute;
    top:-3px;
    left: 0;
    cursor: pointer;
    z-index: 2;
}
.mask,.vo-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.full{
    width:18px;
    height:18px;
    float: right;
    background: #F4F4F4;
    margin-top:10px;
    margin-right: 18px;
    box-shadow: 0 0 2px #F4F4F4;
    border-radius: 2px;
    cursor: pointer;
}
.full .left{
    margin-top:3px;
    margin-left: 2px;
    border-left:5px solid #000;
    border-right: 5px solid transparent;
    border-top: none;
    border-bottom:5px solid transparent;
}
.full .right{
    margin-top:3px;
    margin-right: 2px;
    border-left:5px solid transparent;
    border-right: 5px solid #000;
    border-top: 5px solid transparent;
    border-bottom:none;
}
.volume-box{
    float: right;
    width:70px;
    height:10px;
    border-radius: 5px;
    border: 1px solid #575757;
    cursor: pointer;
    z-index: 0;
    margin-right: 15px;
    margin-top:15px;
    position:relative;
}
.volume-bar{
    width:100%;
    height:100%;
    background: #CDCDCD;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
}
.volume-control{
    width:14px;
    height:14px;
    border:1px solid #F1F1F1;
    background: #F3F3F3;
    position:absolute;
    right:0;
    top:-2px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
   border-shadow: 0 0 2px #FFF;
}
.trumpt{
    float: right;
    width:40px;
    height: 40px;
    font-size: 36px;
    color:#FFF;
    cursor:pointer;
    line-height:38px;
}
.time{
    float: left;
    color:#FFF;
    width:40px;
    height:38px;
    font-size: 14px;
    text-align: center;
    line-height:38px;
    padding-left:8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.one{
    width: 20px;
    height: 20px;
    /*margin-left: 10px;*/
    float: left;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background: #FFF;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    margin-top:10px;
}
.guanbi{
    width: 20px;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor:pointer;
    z-index:10000;
}